<h1>Movie Database</h1>
<a class="btn btn-primary" routerLink="/add">Add Movie</a>
<div class="media" *ngFor="let movie of movies" [hidden]="movie.hide">
	<span class="media-left">
		<img [src]="movie.imagePath" alt="{{ movie.title }}" />
	</span>
	<div class="media-body">
		<h4 class="media-heading">
			{{ movie.title }} ({{ movie.year }})
			<a 
				[routerLink]="['edit', movie.id]"
				class="glyphicon glyphicon-edit text-primary" 
			></a>
			<i
				(click)="movie.hide = !movie.hide; delete(movie)" 
				class="glyphicon glyphicon-trash text-danger"
			></i>
		</h4>
		<span class="rating">
			<rating 
				[model]="movie"
				></rating>
		</span>
	</div>
</div>
<h3 *ngIf="movies.length == 0">There are no movies in this database.</h3>