<h1 *ngIf="movie.title !== undefined">{{movie.title}}</h1>
<h1 *ngIf="movie.title == undefined">New Movie</h1>
<div class="row">
	<div class="col-md-7">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="form-group">
					<label for="movie_title">
                        Name
                    </label>
					<input 
                        id="movie_title" 
                        class="form-control" 
                        [(ngModel)]="movie.title" />
				</div>
				<div class="form-group">
					<label for="movie_year">
                        Year
                    </label>
					<select
						id="movie_year" 
                        class="form-control" 
                        [(ngModel)]="movie.year"
					>
					<option *ngFor="let number of years">{{number}}</option>
					</select>
				</div>
				<br />
				<div class="form-group">
					<label for="movie_imagePath">
                        Image path
                    </label>
					<input 
                        id="movie_imagePath" 
                        class="form-control" 
                        [(ngModel)]="movie.imagePath" />
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<a class="btn btn-primary btn-block btn-lg" (click)="save()">
            Save
         </a>
			<a class="btn btn-default btn-block btn-lg" routerLink="/">
            Return to list
         </a>
		</div>
	</div>
</div>