<div class="media" *ngFor="let movie of movies">
	<span class="media-left">
		<img [src]="movie.imagePath" alt="{{ movie.title }}" />
	</span>
	<div class="media-body">
		<h4 class="media-heading">
			{{ movie.title }} ({{ movie.year }})
		</h4>
		<span class="rating">
		   <span class="glyphicon" *ngFor="let value of [1,2,3,4,5]"
		      [ngClass]="{ 'glyphicon-star': movie.rating >= value, 'glyphicon-star-empty': (movie.rating||0) < value }"
		      (click)="movie.rating = value"></span>
			<span class="badge">{{movie.rating || 0}}/5</span>
		</span>
	</div>
</div>